<html>
<head>
    <script src="resources/angular.min.js"></script>
	
</head>
	<body>
		<div ng-app="myApp">
		  <div ng-controller="FirstCtrl">
		    <input type="text" ng-model="data.message">
		    <h1>{{ data.message }}</h1>
		  </div>
		  <div ng-controller="SecondCtrl">
		    <input type="text" ng-model="data.message">
		    <h1>{{ reversedMessage() }}</h1>
		  </div>
		</div>
		<script >
			var myApp = angular.module('myApp', []);

			myApp.factory('Data', function () {
			  return { message: "I'm data from a service" }
			});

			function FirstCtrl($scope, Data) {
			  $scope.data = Data;
			}

			function SecondCtrl($scope, Data) {
			  $scope.data = reversedMessage(Data);
			  $scope.reversedMessage = function(data){
			  	return data.message.split("").reverse().join("");
			  }
			}
		</script>
	</body>
</html>