<html ng-app="matches">
<head>
    <title>Dota2Lounge Data</title>
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <script src="resources/angular.min.js"></script>
    <script src="resources/dotaData/ng-table.js"></script>
    <link rel="stylesheet" href="resources/dotaData/ng-table.css"/>
    <script src="resources/dotaData/dota.js"></script>



    <style>
    .ng-table{
        width:1000px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        padding:3px;
    }
    </style>
</head>

<body ng-controller="MainCtrl">
    <p><strong>Filter:</strong> {{tableParams.filter()|json}}
        <input ng-model="query" class="" placeholder ="search">
    <table ng-table="tableParams" class="table">
    <tr ng-repeat="match in $data">
        <td data-title="'Match ID'" sortable="'matchId'" filter="{'matchId': 'query'}">{{match.matchId}}</td>
        <td data-title="'Team 1'" sortable="'teamOne'">{{match.teamOne}}</td>
        <td data-title="'Team 2'" sortable="'teamTwo'">{{match.teamTwo}}</td>
        <td data-title="'Winner'" sortable="'winner'">{{match.winner}}</td>
        <td data-title="'Team 1 Odds'" sortable="'teamOneOdds'">{{match.teamOneOdds}}%</td>
        <td data-title="'Team 2 Odds'" sortable="'teamTwoOdds'">{{match.teamTwoOdds}}%</td>
        <td data-title="'People'" sortable="'people'">{{match.people}}</td>
        <td data-title="'Items'" sortable="'items'">{{match.items}}</td>
    </tr>
    </table>
</body>
</html>