<html ng-app="matcher">
<head>
    <script src="resources/generator.js"></script>
    <title>Mathcer</title>
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <script src="resources/angular.min.js"></script>
    <script src="scripts/matcher/matcher.js"></script>
    <script src="resources/itertools.min.js"></script>
</head>

<body class="container" ng-controller="MainCtrl">
    <div class="row">
        <h1>MATCHER</h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input ng-model="leftString" type="text" class="form-control">
        </div>
        <div class="col-md-5">
            <input ng-model="rightString" type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <button ng-click="match()">Match me</button>
    </div>
    <div class="row">
        <h6>Exact Matches</h6>
        <div ng-repeat="match in exact track by $index"><h4>{{match}}</h4></div>
        <h6>Unique Results</h6>
        <div ng-repeat= "result in unique track by $index"><h4> {{result}}</h4></div>
        <h6>Conflicting Results</h6>
        <div ng-repeat= "result in conflicted track by $index"><h4> {{result}}</h4></div>
        <h6>Unmatched from Left Column</h6>
        <div ng-repeat= "result in unmatchedBank track by $index"><h4> {{result}}</h4></div>
        <h6>Unmatched from Right Column</h6>
        <div ng-repeat= "result in unmatchedReceipts track by $index"><h4> {{result}}</h4></div>
    </div>
</body>
</html>